<div id="addArticle" class="well panel-default article padding" ng-model="user">
    <h4 >{{user.choice.titre}}</h4>
    <form role="form">
    	<div class="form-group">
        	<label for="exampleInputTitre">Nom</label>
        	<input type="text" name="titre" class="form-control" ng-model="user.nom" required/>
    	</div>
    	<div class="form-group">
        	<label for="exampleInputTitre">Prenom</label>
        	<input type="text" name="titre" class="form-control" ng-model="user.prenom" required/>
    	</div>
    	<div class="form-group">
        	<label for="exampleInputTitre">Email</label>
        	<input type="text" name="titre" class="form-control" ng-model="user.email" required/>
    	</div>
    	<div class="form-group">
        	<label for="exampleInputTitre">Changer le mots de passe</label>
        	<input type="text" name="titre" class="form-control" ng-model="user.newPassword" required/>
    	</div>
        <button
            type="submit"
            class="btn btn-primary"
            ng-click="updateUser(user._id)">
            Mettre à jour
        </button>
    </form>
</div>
