<a href="#/adminProfil" style="margin-left: 75%;"><button class="btn btn-primary">MODIFIER LES UTILISATEURS</button></a>
		
<div class="panel panel-default article padding">
	<table class="table table-hover">
		<tr>
			<th>Articles</th>
			<th>Date de creation de l'article</th>
			<th>Date de derniere modification</th>
			<th>Auteur</th>
			<th>Delete</th>
			<th>Edit</th>
		</tr>
		
		<tbody>
		<tr ng-repeat="article in listArticle track by $index">
			<td>{{article.titre}}</td>
			<td>{{article.date_creation | date}}</td>
			<td>{{article.date_modification | date}}</td>
			<td>{{article.nom}}</td>
			<td>
				<button class="glyphicon glyphicon-remove" ng-click="delArticle(article._id)">
			</td>
			<td>
				<button class="glyphicon glyphicon-pencil" ng-click="modifArticle(article._id);">
			</td>
		</tr>
		</tbody>
	</table>
</div>

<div id="addArticle" class="well panel-default article padding" ng-model="article">
    <h4 >{{article.choice.titre}}</h4>
    <form role="form">
    	<div class="form-group">
	    	<label for="exampleInputTitre">Titre</label>
	    	<input type="text" name="titre" class="form-control" placeholder="Titre de l'article" ng-model="article.titre" required/>
        </div>
        <div class="form-group">
          	<label for="exampleInputComment">Contenu</label>
            <textarea class="form-control" rows="3" placeholder="Contenu de l'article" ng-model="article.contenu" required></textarea>
        </div>
        <button
	        ng-if= "article.choice.booleanButton == true"
	        type="submit"
	        class="btn btn-primary"
	        ng-click="updateArticle(article._id)">
	        Mettre à jour
	    </button>
        <button
	        ng-if= "article.choice.booleanButton == false"
        	type="submit"
        	class="btn btn-primary"
        	ng-click="addArticle()">
        	Ajouter
        </button>
    </form>
</div>
